.home {
  p {
    margin: 0 2rem;
    padding: 1rem 0;
  }

  section {
    $section-green-color: $green;
    $section-red-color: $red;
    $section-orange-color: $orange;
    $background-lighten: 6;

    @include row();

    margin: 2rem 0;

    &:nth-child(1) {
      // background-color: lighten($section-green-color, 10);
      border-left: 5px solid $section-green-color;
    }

    &:nth-child(2) {
      // background-color: lighten($section-red-color, $background-lighten);
      border-left: 5px solid $section-red-color;
    }

    &:nth-child(3) {
      // background-color: lighten($section-orange-color, $background-lighten);
      border-left: 5px solid $section-orange-color;
    }
  }

  a {
    $email-link-color: $email;
    $github-link-color: $github;
    $linkedin-link-color: $linkedin;
    $twitter-link-color: $twitter;

    &.email { color: $email-link-color; }
    &.github { color: $github-link-color; }
    &.linkedin { color: $linkedin-link-color; }
    &.twitter { color: $twitter-link-color; }
  }
}
