.home {
  p {
    margin: 0 2rem;
    padding: 2rem 0 2rem 0;
  }

  section {
    $section-blue-color: $blue;
    $section-gray-color: $gray;
    $background-lighten: 6;

    @include row();

    margin: 1rem 0;

    &:nth-child(1) {
      border-left: 5px solid $section-gray-color;
    }

    &:nth-child(2) {
      border-left: 5px solid $section-blue-color;
    }

    &:nth-child(3) {
      border-left: 5px solid $section-gray-color;
    }
  }

  a {
    $email-link-color: $email;
    $github-link-color: $github;
    $linkedin-link-color: $linkedin;
    $twitter-link-color: $twitter;

    &.email { color: $email-link-color; }
    &.github { color: $github-link-color; }
    &.linkedin { color: $linkedin-link-color; }
    &.twitter { color: $twitter-link-color; }
  }
}
