$header-family: 'Nunito', sans-serif;
$text-family: 'Varela Round', sans-serif;
$font-weight: 100;

body {
  background: $tan;
  font-family: $header-family;
  font-weight: $font-weight;
  margin: 1rem;
}
