.navigation {
  $max-width: rem(960);

  nav {
    @include outer-container($max-width);

    background-color: white;
    padding: 1rem;
    border-radius: 2px;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px rgb(218, 218, 218);

    a {
      @include span-columns(4);

      text-decoration: none;
      color: red;
      text-align: center;
      display: inline-block;
    }
  }
}
