// Color Variables
$blue: #4A75D4;
$gray: #606060;
$light-gray: lightgray;
$red: #E93232;
$white: #ECECEC;

// Style Variables
$content-width: rem(960);
$font-weight: 100;
$font-family: 'Open Sans', sans-serif;

// External Link Colors
$email: #E93232;
$github: #333333;
$linkedin: #0077b5;
$twitter: #55acee;

// Media Queries
$mobile: max-width 400px;
$tablet: min-width 400px max-width 700px;
