// Color Variables
$blue: #4A75D4;
$gray: #606060;
$red: #E93232;
$white: #ECECEC;

// Style Variables
$content-width: rem(960);
$line-height: 1.7;
$font-family: 'Open Sans', sans-serif;
$font-weight: 400;

// External Link Colors
$email: #E93232;
$github: #333333;
$linkedin: #0077b5;
$twitter: #55acee;

// Media Queries
$mobile: max-width 480px;
$tablet: min-width 480px max-width 760px;
$desktop: min-width 760px;
