// Color Variables
$gray: #606060;
$light-gray: lightgray;
$green: #70FF70;
$red: #F5BEBE;
$orange: #F5D5BE;
$white: #ECECEC;

// Style Variables
$content-width: rem(960);
$font-weight: 400;
$line-height: 1.7;
$font-family: 'Source Sans', sans-serif;

// External Link Colors
$email: #E93232;
$github: #333333;
$linkedin: #0077b5;
$twitter: #55acee;

// Media Queries
$mobile: max-width 400px;
$tablet: min-width 400px max-width 700px;
